<nav class="pagination" aria-label="pagination">
    {% if block.previous_page %}
        <a 
            class="pagination__link pagination__link--prev"
            href="{{block.path}}{{block.previous_page}}"
        >
            <span class="pagination__icon" aria-hidden="true">
                <svg><use xlink:href="#icon-prev" /></svg>
            </span>
            Previous
        </a>
    {% else %}
        <a 
            class="pagination__link pagination__link--prev pagination__link--disabled"
            aria-disabled="true"
        >
            <span class="pagination__icon" aria-hidden="true">
                <svg><use xlink:href="#icon-prev" /></svg>
            </span>
            Previous
        </a>
    {% endif %}

	<ul class="pagination__list">
        {% for page in block.first_pages %}
		<li class="pagination__item">
            <a
                class="pagination__link pagination__link--number {{ page is same as(block.current_page) ? 'pagination__link--current' : '' }}"
                href="{{block.path}}{{page}}"
            >
                <span class="visually-hidden">Page</span> 
                {{ page }}
            </a>
        </li>
        {% endfor %}

        {% if block.last_pages %}
	
		<li class="pagination__item">
            <span class="pagination__link pagination__link--number">
                &#8230;
            </span>
        </li>

        {% for page in block.last_pages %}
		<li class="pagination__item">
            <a
                class="pagination__link pagination__link--number {{ page is same as(block.current_page) ? 'pagination__link--current' : '' }}"
                href="{{block.path}}{{page}}"
            >
                <span class="visually-hidden">Page</span> 
                {{ page }}
            </a>
        </li>
        {% endfor %}

        {% endif %}
	</ul>

    {% if block.next_page %}
        <a 
            class="pagination__link pagination__link--next"
            href="{{block.path}}{{block.next_page}}"
        >
            Next
            <span class="pagination__icon" aria-hidden="true">
                <svg><use xlink:href="#icon-next" /></svg>
            </span>
        </a>
    {% else %}
        <a 
            class="pagination__link pagination__link--next pagination__link--disabled"
            aria-disabled="true"
        >
            Next
            <span class="pagination__icon" aria-hidden="true">
                <svg><use xlink:href="#icon-next" /></svg>
            </span>
        </a>
    {% endif %}
</nav>
